.main{
    display: flex;
padding: 64px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 64px;
align-self: stretch;
background: var(--white, #FFF);
}

.main2{
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}

.main2-1{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 64px;
}

.main2-1-1{
    color: var(--black, #000);

/* font/golden-ratio/montserrat/semibold/h3 */
font-family: Montserrat;
font-size: 54px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.main2-1-2{
    width: 495px;
    color: var(--black, #000);

/* font/golden-ratio/montserrat/regular/h5 */
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.main2-2{
    display: flex;
align-items: flex-start;
gap: 64px;
}

.main2-2-1{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}

.main2-2-1-1{
    color: var(--grey-300, #858585);

/* font/golden-ratio/montserrat/medium/body */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.main2-2-1-2{
    color: var(--black, #000);
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}

.address{
    color: var(--black, #000);

/* font/golden-ratio/montserrat/regular/body */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.icon-1{
    background: url('/src/Images/Vector.png'), lightgray 50% / cover no-repeat;
    fill: var(--grey-500, #333);
    width: 26.6px;
    height: 18.691px;

}

.icon-2{
    background: url('/src/Images/twitter.png'), lightgray 50% / cover no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 48px;

}

.icon-3{
    background: url('/src/Images/linkedin.png'), lightgray 50% / cover no-repeat;
    fill: var(--grey-500, #333);
    width: 24.022px;
    height: 24.167px;   
    margin-left: 48px;


}

.img{
    width: 570px;
height: 754px;
background: url('/src/Images/image\ 45.png'), lightgray 50% / cover no-repeat;
}

.foot{
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.foottxt{
    color: var(--black, #000);

/* font/golden-ratio/montserrat/medium/body */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-right: 100px;
}

.foottxt2{
    color: var(--black, #000);

/* font/golden-ratio/montserrat/medium/body */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 400px;
}


