* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }
  .App {
    text-align: center;
  }
  h1{
    font-size: 5rem;
    font-weight: bolder;
  }
  /* p {
    font-size: 3rem;
    margin: 1rem;
  } */
  section {
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #stick {
    background-color: rgb(71, 14, 64);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer {
    background-color: whitesmoke;
    color: seagreen;
  }

.Tag-1{
    display: flex;
    width: 1438px;
    padding: 96px 64px;
    align-items: center;
    gap: 10px;
}

.Tag-1{
    width: 1085px;
    flex-shrink: 0;
    color: var(--black, #000);
    font-family: Montserrat;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

.Pic1{
    /* background: url('/src/Images/image\ 10.png'), lightgray 50% / cover no-repeat; */
    width: 1449px;
    width: auto;
    height: 966px;
}

.Tag2{
    
    display: flex;
    /* width: 1438px; */

    padding: 96px 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Tag2-1{
    color: var(--black, #000);
    /* font/golden-ratio/montserrat/medium/h4 */
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}


.Tag3{
    
    display: flex;
padding: 64px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
}

.Tag3-1{
    flex: 1 0 0;
    color: var(--black, #000);

/* font/golden-ratio/poppins/semi-bold/h3 */
font-family: Poppins;
font-size: 54px;
font-style: normal;
font-weight: 600;
line-height: normal; 
}


.Tag4{
display: flex;
padding: 64px;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
row-gap: 64px;
align-self: stretch;
flex-wrap: wrap;
/* flex-direction: row; */
}


.Tag4-1-1{
    width: 574px;
    height: 746px;
    background: url('/src/Images/image\ 27.png'), lightgray 50% / cover no-repeat;
}

.Tag4-1-20,.Tag4-2-2{
color: var(--black, #000);

/* font/golden-ratio/poppins/semi-bold/h4 */
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.Tag4-1-3,.Tag4-2-3{
    align-self: stretch;
    color: var(--black, #000);

/* font/golden-ratio/poppins/regular/h5 */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.Tag4-1-4,.Tag4-2-4{
    display: flex;
align-items: center;
align-content: center;
gap: 20px;
align-self: stretch;
flex-wrap: wrap;
}

.Btn-4{
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 29px;
    border: 1px solid var(--primary, #0074D9);
    background: var(--white, #FFF);
    
}

.Btn-4:hover {
  background-color: rgba(0,88,166,255);
  color: white;
}



.Tag4-2-1{
    width: 574px;
    height: 746px;
    background: url('/src/Images/image27.png'), lightgray 50% / cover no-repeat;
}

.Tag4-11,.Tag4-12 {
    float: left;
    width: 50%;
    /* height: 300px; Should be removed. Only for demonstration */
  }

  .Tag4-11{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
  }

  .Tag4-12{
    display: flex;
padding-top: 128px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
  }
  

.Tag4:after {
    content: "";
    display: table;
    clear: both;
  }
  
.Tag5{
    display: flex;
padding: 64px;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
row-gap: 64px;
align-self: stretch;
flex-wrap: wrap;
background: var(--primary-10, rgba(0, 116, 217, 0.10));
}

.Tag5-1{
    width: 1312px;
    height: 746px;
    background: url('/src/Images/image\ 28.png'), lightgray 50% / cover no-repeat;
}

.Tag5-2{
    color: var(--black, #000);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Tag5-3{
    align-self: stretch;

color: var(--black, #000);

/* font/golden-ratio/poppins/regular/h5 */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.testinomal{
  width: auto;
}

/* Tab */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* Styles for medium screens (e.g., tablets) */
  .Tag{
    
    /* display: flex; */
    width: 100%;
    padding: 96px 64px;
    /* align-items: center; */
     /* background-color: red; */
}

.Tag-1{
    width: 670px;
    flex-shrink: 0;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    padding: 84px 52px;
}

.Tag4-12{
  display: flex;
padding-top: 100px;
width:auto;
}
.Tag4-2-1,.Tag4-1-1 {
  margin:auto;
 
}

.Tag4-1-2, .Tag4-2-2 { 
  margin-top: 30px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
}

}

@media (max-width: 575.98px) { 

  .Tag4-2-1{
    width: 354px;
    height: 456px;
    margin-left: auto;
}

.Tag4-12,.Tag4-11{
width: auto;
}

.Tag4-1-1{
  width: 350px;
  height: 700px;
  margin-left: auto;
}

.Tag-1{
  width: auto;
  padding: 64px 32px;
  /* background-color: yellow; */
  font-size: 36px;
  /* font-family: Poppins; */
}

.Tag2{
    
  padding: 64px 32px;
}

.Tag2-1{
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  align-items: center;
  margin: 16px;
  /* align-content:center; */
}


}

@media screen and (min-width: 1400px) {
  main {
    width: 1370px;
    margin-left: 25%;
  }
}

/* @media screen and (min-width: 768px) and (max-width: 1200px) {
  
} */
