* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .App {
    text-align: center;
  }
  h1{
    font-size: 5rem;
    font-weight: bolder;
  }
  p {
    font-size: 3rem;
    margin: 1rem;
  }
  section {
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro{
    background-color: black;
  }
  .contents {
    background-color: goldenrod;
  }
  #stick {
    background-color: rgb(71, 14, 64);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer {
    background-color: whitesmoke;
    color: seagreen;
  }