@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }
  .App {
    text-align: center;
  }
  h1{
    font-size: 5rem;
    font-weight: bolder;
  }
    .contents {
    background-color: goldenrod;
  }
  #stick {
    background-color: rgb(71, 14, 64);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .Box1{
    display: flex;
    padding: 96px 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--black, #000);
  }

  .Box1-1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 32px;
flex: 1 0 0;
  }

  .Box1-1-1{
    color: var(--white, #FFF);

/* font/golden-ratio/poppins/semi-bold/h3 */
font-family: Poppins;
font-size: 54px;
font-style: normal;
font-weight: 600;
line-height: normal;

  }

  .Box1-1-2{
    color: var(--white, #FFF);

/* font/golden-ratio/poppins/regular/h5 */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }


  .Tag4{
    background: var(--primary-5, rgba(0, 116, 217, 0.05));
    display: flex;
padding: 96px 64px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
}


/* .Tag4-1-1{
    width: 574px;
    height: 746px;
    background: url('/src/Images/image\ 27.png'), lightgray 50% / cover no-repeat;
} */

.Tag4-1-2{
  align-self: stretch;
  color: var(--black, #000);

/* font/golden-ratio/poppins/semi-bold/h3 */
font-family: Poppins;
font-size: 54px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.Tag4-1-3{
  align-self: stretch;
  color: var(--black, #000);

/* font/golden-ratio/poppins/regular/h5 */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.Tag4-1-4{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  align-self: stretch;
  flex-wrap: wrap;
} 

.Btn-4{
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    border-radius: 29px;
    border: 1px solid var(--primary, #0074D9);
    background: var(--white, #FFF);
    
}


.Tag4-2-1{
  width: 531px;
  height: 868px;
  border-radius: 26px;
background: url('/src/Images/image\ 25.png'), lightgray -734.734px -59.89px / 247.014% 113.422% no-repeat;
}

  .Tag4-11{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex: 1 0 0;
align-self: stretch;
  }

  .Tag4-13{
    display: flex;
flex-direction: column;
align-items: flex-start;
  gap: 20px;
  }
  

.Tag4:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .Tag1{
  /* display: flex; */
  padding: 96px 64px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  width: auto;
}

.Tag1-2-1{
    border-radius: 54px;
background: url('/src/Images/image\ 26.png'), lightgray -54.811px -77.394px / 246.442% 120.693% no-repeat;
width: 487px;
height: 745px;
  }

  .Tag1-11{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex: 1 0 0;
align-self: stretch;
  }

  .Tag1-13{
    display: flex;
flex-direction: column;
align-items: flex-start;
  gap: 20px;
  }

  .footer1{
    background: var(--black, #000);
    display: flex;
padding: 96px 64px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
  }

 

  .name{
    align-self: stretch;
    color: var(--white, #FFF);

/* font/golden-ratio/poppins/semi-bold/h3 */
font-family: Poppins;
font-size: 54px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .name2{
    align-self: stretch;
    color: var(--white, #FFF);

/* font/golden-ratio/poppins/regular/h5 */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .detail1{
    border-bottom: 1px solid var(--grey-400, #5A5A5A);
    display: flex;
padding: 16px 0px;
justify-content: flex-end;
align-items: center;
gap: 32px;
align-self: stretch;
  }

  .txt1{
    width: 400px;
    color: var(--white, #FFF);

/* font/golden-ratio/poppins/semi-bold/h5 */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .txt2{
    flex: 1 0 0;
    color: var(--white, #FFF);

/* font/golden-ratio/poppins/regular/h5 */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

/* Tab */
@media screen and (min-width: 768px) and (max-width: 1200px) {

  .Tag1-2-1,.Tag4-2-1{
    margin: auto;
  }

  .Tag4-2-1{
    margin-top: 40px;
  }

 .Tag1-13{
    /* margin: auto; */
    /* position: relative; */
    /* bottom: 250px; */
    z-index: 1;
    order: 2;
  }

  .Tag1-11{
    /* position: relative; */
    z-index: 2;
    order: 1;
    /* display: none; */
  }

  .txt1{
    width: 350px;
  } 
  
}

@media only screen and (min-width: 992px) {

  .Tag1{
    display: flex;
    }
  
}

@media (max-width: 575.98px) { 

  .Tag4-1-2{
  font-size: 36px;
  font-weight: 600;
  margin: 10px 10px 10px 0px;
  }

  .Tag4-2-1{
    width: 380px;
    height: 768px;
    border-radius: 26px;
    position: relative;    
  }

  .Tag1-2-1{
border-radius: 54px;
width: 350px;
height: 600px;
margin-left: -50px;
  }

  .footer1{

    width: auto;
    padding: 64px 32px ;
  }

  .name2{
font-size: 18px;
font-weight: 300;
  }

  .detail1{
padding: 0px;
gap: 10px;
  }
  
  .txt1{
    width: 180px;
/* font-size: 24px; */
font-weight: 600;
  }
  .txt-1{
    font-size: 16px;
  }

  .txt-2{
    font-size: 12px;
  }


  .Tag4{
    /* display: flex; */
    /* flex-direction: row-reverse; */
    /* margin-left: -50px; */

}

.Btn-4{
  display: flex;
  padding: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  
}

 }

 @media screen and (min-width: 1400px) {
  .Box1-1-1{
font-size: 72px;
  }

  .Box1-1-2{
font-size: 32px;
  }

  .Tag4-1-3{
  font-size: 32px;
  }

  .Tag4-1-2{
    font-size:64px;
  }
   
 }