.Slidemain{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 64px;
z-index: -1;
}

.Img{
width: 1449px;
height: 966px;
position: static;
display: none;
}

.Img2,.d-block2{
    display: none;
}

@media (max-width: 575.98px) { 

    .Img{
        width: 290px;
        height: 300px;
        position: static;
        }
        
}

@media screen and (min-width: 1400px) {

    .d-block2,.Img2{
        display: none;
    }
}