html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Poppins;
}


header {
    width: 100%;
    height: 100px;
    background-size: cover;
    /* padding: 20px 10px; */
}

.img11{
  background: url('/src/Images/Frame.png');
  width: 131px;
  height: 22px;
  flex-shrink: 0;
  }
  

.logo {
    position: fixed;
    float: left;
    margin: 32px 46px;
    }

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    /* background-color: blue; */
    background-color: rgba(255, 255, 255, 0.80);;

}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    /* background: skyblue; */
}

nav ul li {
    display: inline-block;
    padding: 16px 16px;;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    /* font-weight:500; */
    /* font-family: Poppins; */
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

a {
    color: #fff;
    /* text-transform: uppercase; */
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .Color:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 2;
    content: "";
    display:block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: dodgerblue;
    /* background: green; */
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;

  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

  

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: white;
    }

    .showing {
          max-height: 34em;
          padding: 0px 0px 20px 0px;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          height: 50px;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
          background-color:#fff;
          color: #000;
    }

    nav ul {
        line-height: 28px;
        background: white;
        color: #fff;
        padding: 0;
        text-align: right;
        padding-right: 20px;
        transition: 1s;
    }
    

}

@media (max-width: 575.98px) {

    .menu-icon{
        /* background-color: white; */
    }
}

@media screen and (min-width: 1400px) {
    ul {
      width: 1370px;
    }
  }